@tailwind base;
@tailwind components;
@tailwind utilities;
/* styles.css */

/* For WebKit browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar {
    height: 22px;
    width: 10px;
    position: absolute;
    padding: 1rem;
    border-radius: 30px;
}

::-webkit-scrollbar-track {
    background: transparent; /* Background of the track */
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 30px;

    /* Background of the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
    background: #555; /* Background of the scrollbar thumb on hover */
}


*{

    scroll-behavior: smooth;
}